# TITLE

## INFO
By: Kaegan Casey

Updated: 02/28/21

## TODO:

* jsdhkahd

## Import Packages

In [1]:
import pandas as pd
pd.options.display.max_rows = 120
pd.options.display.max_columns = 120

import numpy as np

## Data

In [2]:
train = pd.read_csv('../data/1_raw/train.csv')
train.shape

(891, 12)

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test = pd.read_csv('../data/1_raw/test.csv')
test.shape

(418, 11)

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Preprocessing Class

In [6]:
class Preprocess:
    
    def get_cabin_info(self, string):
        sub_str_li = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G']
        for i in sub_str_li:
            if i in str(string):
                return i    
        return 'Unknown'
    
    
    def create_features(self, dfs):
        for df in dfs:
            #df['Family_Size']=df['SibSp']+df['Parch']
            df['Deck'] = [self.get_cabin_info(string) for string in df['Cabin']]
        return dfs
    
    
    def impute_null_values(self, dfs):
        for df in dfs:
            df['Age'] = df.groupby('Sex')['Age'].apply(lambda x: x.fillna(x.mean()))
            df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
        return dfs
    
    
    def drop_vars(self, dfs, drop_features):
        for df in dfs:
            df.drop(drop_features, axis=1, inplace=True)
        return dfs
    
    
    def create_dumm(self, dfs):
        dfs = [pd.get_dummies(df) for df in dfs]
        return dfs

    
    def run(self, dfs, drop_features):
        '''
        df[0] = train, df[1] = test
        '''
        dfs = self.create_features(dfs)
        dfs = self.impute_null_values(dfs)
        dfs = self.drop_vars(dfs, drop_features)
        dfs = self.create_dumm(dfs)
        #print(dfs)
        return dfs

In [7]:
df_list = [train, test]
drop_features = ['PassengerId', 'Name', 'Ticket', 'Cabin']

pp = Preprocess()
proc_df_list = pp.run(df_list, drop_features)
proc_train = proc_df_list[0]
proc_test = proc_df_list[1]

In [9]:
proc_train.to_csv('../data/2_interim/interim_train.csv', index=False)
proc_test.to_csv('../data/2_interim/interim_test.csv', index=False)

## Create Processed Data for ML

In [10]:
proc_train.to_csv('../data/3_processed/processed_train.csv', index=False)
proc_test.to_csv('../data/3_processed/processed_test.csv', index=False)