# TITLE

## INFO
By: Kaegan Casey

## TODO:

* try cross_validate with return_estimator=True

## Import Packages

In [1]:
import pandas as pd
pd.options.display.max_rows = 120
pd.options.display.max_columns = 120

import numpy as np

# plotting
import matplotlib.pyplot as plt
import seaborn as sns

# mlflow
import mlflow

# models
from xgboost import XGBClassifier

# helper libraries
from sklearn.model_selection import cross_validate, train_test_split

In [2]:
#EX_ID = mlflow.create_experiment('Test_03-08')
EX_ID = 1

/usr/local/Caskroom/miniforge/base/envs/mlflow_test/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Data

In [3]:
df = pd.read_csv('../data/3_processed/processed_train.csv')
df.shape

(891, 20)

In [4]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Deck_Unknown
0,0,3,22.0,1,0,7.2500,0,1,0,0,1,0,0,0,0,0,0,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0,0,0,1,0,0,0,0,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1,0,0,0,0,0,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1,0,0,1,0,0,0,0,0,0
4,0,3,35.0,0,0,8.0500,0,1,0,0,1,0,0,0,0,0,0,0,0,1

In [5]:
holdout = pd.read_csv('../data/3_processed/processed_test.csv')
holdout.shape

/usr/local/Caskroom/miniforge/base/envs/mlflow_test/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(418, 18)

## Global Variables

In [6]:
STATE = 9

## Functions

In [7]:
def seperate_xy(df, target_col):
        y = df[target_col]
        X = df.drop(target_col, axis=1)
        return X, y

## Split

In [8]:
drop_me = ['SibSp', 'Embarked_S', 'Fare', 'Deck_E', 'Deck_C', 'Age', 'Embarked_C', 
 'Parch', 'Embarked_Q', 'Deck_D', 'Deck_A', 'Sex_male', 'Deck_F', 'Deck_G', 'Deck_T']
df.drop(drop_me, axis=1, inplace=True)

In [9]:
y_col = 'Survived'

X_train, y_train = seperate_xy(df, y_col)

In [10]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=STATE)

In [11]:
X_train.shape, y_train.shape

((891, 4), (891,))

In [12]:
X_train

     Pclass  Sex_female  Deck_B  Deck_Unknown
0         3           0       0             1
1         1           1       0             0
2         3           1       0             1
3         1           1       0             0
4         3           0       0             1
..      ...         ...     ...           ...
886       2           0       0             1
887       1           1       1             0
888       3           1       0             1
889       1           0       0             0
890       3           0       0             1

[891 rows x 4 columns]

In [ ]:
#help(XGBClassifier)

In [13]:
clf = XGBClassifier(use_label_encoder=False, random_state=STATE)
val_info = cross_validate(clf, X_train, y_train, scoring='accuracy', return_estimator=True)
score_mean = val_info['test_score'].mean()
score_std = val_info['test_score'].std()
print(f'{score_mean} accuracy with a standard deviation of {score_std}')

/usr/local/Caskroom/miniforge/base/envs/mlflow_test/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

[22:07:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost_1607604592557/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:07:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost_1607604592557/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:07:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost_1607604592557/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:07:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost_1607604592557/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:07:47] WARNING: /Users/runner/miniforge3/conda-bld/xgboost_1607604592557/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.7688217939865671 accuracy with a standard deviation of 0.01961309025938172

In [14]:
clf = val_info['estimator'][0]

/usr/local/Caskroom/miniforge/base/envs/mlflow_test/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [15]:
len(clf.feature_importances_)

4

In [16]:
importance_df = pd.DataFrame({'feature':X_train.columns, 'importance': clf.feature_importances_}).sort_values('importance', ascending=False)
importance_df

        feature  importance
1    Sex_female    0.733730
0        Pclass    0.131615
3  Deck_Unknown    0.130757
2        Deck_B    0.003899

In [17]:
list(importance_df['feature'])

/usr/local/Caskroom/miniforge/base/envs/mlflow_test/lib/python3.9/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

['Sex_female', 'Pclass', 'Deck_Unknown', 'Deck_B']

In [18]:
with mlflow.start_run(experiment_id=EX_ID):
    mlflow.log_params(clf.get_params())
    mlflow.log_metric('mean_accuracy', score_mean)
    mlflow.log_metric('std_accuracy', score_std)